{% extends "ganglia/base.html" %}

{% block title %} 
<h2 align=center>
   Resource: {{ resource }}
   <small>({{resource.res_hostname}})</small>
</h2>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <h4>Metric List</h4>
      <ul class=list-group>
        {% for metric in metric_list %}
        <li class=list-group-item>
          <a href="">{{metric.metric_name}}</a>
        </li>
        {% endfor %}
      </ul>
      <h4>Related</h4>
      {% if relate_list %}
        <ul>
	{% for res in relate_list %}
	  <li><a href="{% url 'ganglia:detail' res.id %}">{{res.res_name}}</a></li>
	{% endfor %}
	</ul>
      {% else %}
	<h5> no related Resource</h5>
      {% endif %}
    </div>
    <div class="col-md-10">
	{% for metric in metric_list %}
	  <h4 align="center">{{metric.metric_name}} graph</h4>
	  <div align="center" class="row">
	    <div class="col-md-4 col-md-offset-1">
		{% load staticfiles%}
	        <img src="{% static "ganglia/images/cpu_system_hour.png" %}"/>
	    </div>
	    <div class="col-md-4 col-md-offset-1">
		{% load staticfiles%}
	        <img src="{% static "ganglia/images/cpu_system_day.png" %}"/>
	    </div>
	  </div>
	  <div align="center" class="row">
	    <div class="col-md-4 col-md-offset-1">
		{% load staticfiles%}
	        <img src="{% static "ganglia/images/cpu_system_week.png" %}"/>
	    </div>
	    <div class="col-md-4 col-md-offset-1">
		{% load staticfiles%}
	        <img src="{% static "ganglia/images/cpu_system_month.png" %}"/>
	    </div>
	  </div>
	{% endfor%}
    </div>
  </div>
</div>



<script>
  $(document).ready(function(){
        $("h2").click(function(){
	  $("#middle").fadeOut();
        });
        $("h4").click(function(){
	  $("#middle").fadeIn();
        });
  });
</script>
{% endblock %}
