{% extends "ganglia/base.html" %}
{% block title%}
<div class="row" style="background-color:#2e2e2e;padding:15px;color:#a6a6a6">
	<div class="col-md-6 col-md-offset-3">
		<div> 
			<h1 align=center>
				Cluster Monitor
			</h1>
		</div>
	</div>
	<div class="col-md-1 col-md-offset-1" style="padding-top:20px">
		<a href="#" style="font-size:20px;color:#a6a6a0">About</a>
	</div>
</div>
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="container-fluid"> 
	<div class="row">
		<div id="blank" class="col-md-4"></div>
		<div id="host_div" class="col-md-4">
			<h3 align=center>Hosts in cluster</h3>
			{% if host_list and resource_list %}
			<div class="container-fluid">
				<div class="row">
					{% for host in host_list %}
						<div class="col-md-4">
							<a onclick="show_res(this,'{{ host.host_name }}')">
								<img src="{% static 'ganglia/images/pc.png' %}" height="60" width="60"></img>
								<h4>{{ host.host_name}}</h4>
							</a>
						</div>
					{% endfor%}
				</div>
			</div>
			{% else %}
				<h3 align=center>No Host</h3>
			{% endif %}
		</div>
		<div id="res_div" class="col-md-3 col-md-offset-1" style="display:none">
			world
		</div>
	</div>
	<!--div class="footer navbar-fixed-bottom" align=center style="background-color:#2e2e2e;padding:25px"-->
</div>

<script type="text/javascript">
function get_data(){
	var texthttp;
	texthttp = new XMLHttpRequest();
	texthttp.onreadystatechange=function(){                
		if(texthttp.readyState==4 && texthttp.status==200){
			document.getElementById("myDiv").innerHTML = texthttp.responseText;
		}
		else{
			document.getElementById("myDiv").innerHTML = "failed to get msg!!";
		}
	}
	texthttp.open("GET","http://localhost:8000/ganglia/xml/localhost/cpu_idle/4/",true);
	texthttp.send();
}


/**
 function for showing the resources in the host clicked
 **/
function show_res(obj,h_name){
	var added_div = document.getElementById("res_div");
	var p_title = document.createElement('h3');
	var hosts_div = document.getElementById("host_div");
	host_div.setAttribute('class',"col-md-4 col-md-offset-2");
	$("#res_div").empty();
	p_title.innerHTML = "Resources in "+ h_name;
	p_title.setAttribute('align',"center");
	added_div.appendChild(p_title);
	{% for resource in resource_list %}
		if(h_name == '{{ resource.res_hostname }}'){
			var res_div = document.createElement("div");
			var res_a = document.createElement("a");
			res_div.setAttribute('class',"alert alert-success");
			res_div.setAttribute('align',"center");
			res_a.setAttribute('href',"{% url 'ganglia:detail' resource.id %}");
			res_a.innerHTML="{{ resource.res_name }}";
			res_div.appendChild(res_a);
			added_div.appendChild(res_div);
		}
	{% endfor %}
	$("#blank").hide();
	$("#res_div").fadeIn();
}

</script>
{% endblock %}

